<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alien Invaders!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        canvas {
            border: 1px solid #d3d3d3;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body onload="startGame()">
<script>

    var playerGamePiece;


    function startGame(){
        myGameArea.start();
        playerGamePiece = new gameComponent(30,30, "black", 225, 600)
        document.addEventListener("keydown", (event) =>{
            inputDirection(event.key);
        })
    }

    function updateGame(){
        myGameArea.clear();
        playerGamePiece.newPos();
        playerGamePiece.update();
    }

    var myGameArea = {
        canvas : document.createElement("canvas"),
        start : function() {
            this.canvas.width = 480;
            this.canvas.height = 720;
            this.context = this.canvas.getContext("2d");
            document.body.insertBefore(this.canvas, document.body.childNodes[0]);
            this.interval = setInterval(updateGame, 20)
        },
        clear:function (){
            this.context.clearRect(0, 0, this.canvas.width, this.canvas.height)
        }
    }

    function gameComponent(width, height, color, x, y){
        this.width = width;
        this.height = height;
        this.x = x;
        this.y = y;
        this.newX = x;
        this.newY = y;
        this.speedX = 0;
        this.speedY = 0;
        this.update = function(){
            ctx = myGameArea.context;
            ctx.fillStyle = color;
            ctx.fillRect(this.x, this.y, this.width, this.height)
        }
        this.newPos = function(){
            this.x = this.newX;
            this.y = this.newY;
        }

    }

    function inputDirection(key){
    //     var map = {}; // You could also use an array
    //     onkeydown = onkeyup = function(e){
    //         map[e.key] = e.type == 'keydown';
    //         console.log(e.type)


        switch (key){
            case "w":            //87 = W
                playerGamePiece.newY -=5;
                break;
            case "s":            //83 = S
                playerGamePiece.newY +=5;
                break;
            case "a":
                playerGamePiece.newX -=5;
                break;
            case "d":
                playerGamePiece.newX +=5;
                break;
            }
            // if(map["w"]&&map["a"]) {
            //     playerGamePiece.newY -= 5;
            //     playerGamePiece.newX -= 5;
            // }else if(map["s"]&&map["a"]){
            //     playerGamePiece.newY += 5;
            //     playerGamePiece.newX -= 5;
            // }else if(map["s"]&&map["d"]){
            //     playerGamePiece.newY += 5;
            //     playerGamePiece.newX += 5;
            // }else if(map["w"]&&map["d"]){
            //     playerGamePiece.newY -= 5;
            //     playerGamePiece.newX += 5;
            // }


        // }
    }

</script>
</body>
</html>

