<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alien Invaders!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        canvas {
            border: 1px solid #d3d3d3;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body onload="startGame()">
<script>

    var playerGamePiece;
    var map = {};
    var enemies = [];
    var gameStage = 1;
    var enemyCount = 5;
    let movementToken = false;
    let movementDirection = 1;      //1 = rechts, -1 = links
    let yTarget = 120;
    let maxBullets = 8;
    let bullets = [];
    let bulletCounter = 0;


    function startGame(){
        myGameArea.start();
        playerGamePiece = new gameComponent(30,30, "black", 225, 600, true)
        for (let i = 0; i < enemyCount; i++){
            enemies[i] = new gameComponent(30,30, "red", 20*(i*5)+1, 100, true)
            console.log(enemies[i])
        }
        for(let i = 0; i <= maxBullets; i++){
            bullets[i] = new gameComponent(2, 5, "blue", -10, -10, false)
        }
        document.addEventListener("keydown", (event) =>{
            map[event.key] = event.type === "keydown";
            inputDirection();
            inputAction(event.key)
        })
        document.addEventListener("keyup", (event)=>{
            map[event.key] = false;
            inputDirection();
        })
    }

    function updateGame(){
        myGameArea.clear();
        playerGamePiece.newPos();
        playerGamePiece.update();
        for (let i = 0; i < enemyCount; i++){
            directionCheck();
            bulletUpdate();
            enemyMovement(enemies[i]);
            enemies[i].newPos();
            enemies[i].update();
        }
        if(gameOverCheck()){
            //do smth here
        }
    }

    var myGameArea = {
        canvas : document.createElement("canvas"),
        start : function() {
            this.canvas.width = 480;
            this.canvas.height = 720;
            this.context = this.canvas.getContext("2d");
            document.body.insertBefore(this.canvas, document.body.childNodes[0]);
            this.interval = setInterval(updateGame, 20)
        },
        clear:function (){
            this.context.clearRect(0, 0, this.canvas.width, this.canvas.height)
        }
    }

    function gameComponent(width, height, color, x, y, active){
        this.width = width;
        this.height = height;
        this.x = x;
        this.y = y;
        this.newX = x;
        this.newY = y;
        this.active = active;
        this.update = function(){
            ctx = myGameArea.context;
            ctx.fillStyle = color;
            ctx.fillRect(this.x, this.y, this.width, this.height)
            //hier später so eine art motion blur einfügen
        }
        this.newPos = function(){
            if(this.newX < 0){
                this.newX = 0;
            }
            else if(this.newX>450){
                this.newX=450;
            }
            else if(this.newY < 0){
                this.newY = 0;
            }
            else if(this.newY>690){
                this.newY=690
            }
            this.x = this.newX;
            this.y = this.newY;

        }

    }

    function inputDirection(){
            //geht das schöner bzw smoother?
            if(map["w"]&&!map["a"]&&!map["d"]) {
                playerGamePiece.newY -= 5;
            }else if(map["s"]&&!map["a"]&&!map["d"]){
                playerGamePiece.newY += 5;
            }else if(map["a"]&&!map["w"]&&!map["s"]){
                playerGamePiece.newX -= 5;
            }else if(map["d"]&&!map["w"]&&!map["s"]){
                playerGamePiece.newX += 5;
            }else if(map["w"]&&map["a"]) {
                playerGamePiece.newY -= 5;
                playerGamePiece.newX -= 5;
            }else if(map["s"]&&map["a"]){
                playerGamePiece.newY += 5;
                playerGamePiece.newX -= 5;
            }else if(map["s"]&&map["d"]){
                playerGamePiece.newY += 5;
                playerGamePiece.newX += 5;
            }else if(map["w"]&&map["d"]){
                playerGamePiece.newY -= 5;
                playerGamePiece.newX += 5;

            }
    }

    function inputAction(key){
        if(key === " " && bulletCounter < maxBullets){                        // " " ist spacebar
            bullets[bulletCounter].newX = playerGamePiece.x+15;
            bullets[bulletCounter].newY = playerGamePiece.y;
            bullets[bulletCounter].active = true;
            bulletCounter += 1;
        }

    }

    function enemyMovement(enemy){
        if(!movementToken){
            enemyHorizontalMovement(enemy);     //movementToken decides whether we move horizontally or vertically
        }
        else{
            enemyVerticalMovement(enemy);
        }
    }

    function enemyHorizontalMovement(enemy){
        enemy.newX += .33*movementDirection;    //.33 is the speed, movementDirection is side (-1 = left, +1 = right)
    }

    function  enemyVerticalMovement(enemy){
        if(enemy.newY<=yTarget){                   //Vertical movement up until 20 px ahead (yOld increments by 20)
            enemy.newY += .2;
        }

    }

    function movementAdjust(){
        for(let i = 0; i<enemyCount; i++){
            if(movementDirection === -1){
                enemies[i].newX -= 1;           //Both necessary so direction check doesnt constantly trigger (newX = 450) We want it to only trigger on first contact
            }
            else{
                enemies[i].newX += 1;           //same as above
            }
        }
    }

    function directionCheck(){                  //sets both horizontal and vertical flags
        if(enemies[enemyCount-1].newX>=450){
            movementDirection = -1;
            movementToken = true;
            movementAdjust();                   //Necessary so we do not constantly trigger the condition (and most importantly only increment yOld once)

        }
        else if (enemies[0].newX<=0){
            movementDirection = 1;
            movementToken = true;
            movementAdjust();                   //same as above
        }
        else if (enemies[enemyCount-1].y>=yTarget){
            movementToken = false;
            yTarget += 20;
        }
    }

    function bulletUpdate(){
        for (let i = 0; i < bullets.length-1; i++){
            if(bullets[i].active === true){
                bullets[i].newY -= 5;           //IDEA: Create a menu toolbar at the top and bottom, top to hide the bullets left hanging there and bot to use the bullets as ammunition symbols
            }
            bullets[i].newPos();
            bullets[i].update();
        }

    }

    function gameOverCheck(){
        for (let i = 0; i < enemyCount; i++){
            if(enemies[i].y===690){             //Enemies reached bottom | TODO: Implement Game over screen - Pause game
                console.log("GAME OVER")
                return true;

            }
        }
    }

</script>
</body>
</html>

