<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/start.css">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <title>Space Shooters</title>
    </head>
    <body>
        <script>
            document.addEventListener('keydown', function() {
                window.location.href = 'register_login.mustache'
            });
        </script>
    </body>
</html>