<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/leaderboard">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <title>Bestenliste</title>
    </head>
    <body>
<!--    Leaderboard erst einfügen wenn Datenbank da ist -->
    </body>
</html>