<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        (<link rel="stylesheet" href="../static/design.css">)
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <title>Main Menu</title>
    </head>
    <body>
        <h1>Welcome: {{username}}</h1>
    </body>
</html>